[Desktop Entry]
Name=Gtk VNC Viewer
Comment=Connect to your VNC servers
Exec=gtkvncviewer
Icon=gtkvncviewer_192
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
