[Desktop Entry]
Encoding=UTF-8
Name=Gtk VNC Viewer
Comment=Connect to your VNC servers
Exec=gtkvncviewer
Icon=/usr/share/gtkvncviewer/gtkvncviewer_64.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
